* {
    box-sizing: border-box;
}
/* body{
    text-align: center;
} */
header {
    
    margin-bottom: 80px;
    margin-right: 15%;
    margin-left: 2.5%;
    
}

#headerImg{
position: relative;
right: -35%;
padding-top: 3%;
}

hr {
margin-left: 15%;
margin-right: 15%;
height: 15px;
background-color: rgb(173, 169, 169);
}


#headerlogo{
    display: inline-flex;
    float: left;
    margin-left: 16%;
    
}


#div1{
 padding-top: 7%;
 padding-right: 3%;
}

#printer{
    position: relative;
    left: 79%;
}

.para{
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
      margin-top: 40px; 
     margin-bottom: 40px;
}

#title{
    text-align: start;
    margin-left: 16%;
    
}

#content{
    text-align: center;
}

#checkForm{
  background-image: url("../img/list-bg.png");
  min-height: 175px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 30px;
  position: relative;


}

label {
    display: block;
    text-align: justify;
    margin-left: 10%;

}

#leftSide{
    width: 50%;
    position: absolute;
    left: 10%;
   
}

#rightSide{
    
    width: 50%;
    position: absolute;
    right: 10%;

}

footer {
    margin-left: 15%;
    margin-right: 0;
    position: relative;
}

#vanessa{
    margin-bottom: 100px;
    display: inline-flex;
}

#div3{
margin-top: 2%;
padding-right: 1.5%;

}

#vPara{
     font-weight: bold;
     font-size: 110%;
}
#vanessa button{
    position:absolute;
    right: 18%;
    background-color: chocolate;
    color: whitesmoke;
    height: 30px;
    margin-top: 3%;
}

#copyRight{
text-align: center;
position: relative;
left: -13%;
}




